:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 62.5%;
}

.container {
  width: 90%; 
  margin: 0 auto;
  overflow: hidden;
  max-width: 23rem;
}

/* Nav Section */

.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.nav__hamburguer {
  width: 1.8rem;
  height: 25%;
  background-image: url("../images/icon-menu.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
  transition: background-image .3s;
}

.nav__hamburguer--open {
  background-image: url("../images/icon-close-menu.svg");
}

.nav__overlay {
  background-color: #000000a7;
  position: fixed;
  inset: 0;

  opacity: 0;
  pointer-events: none;
  transition: .3s opacity;
}

.nav__overlay--show {
  opacity: 1;
  pointer-events: unset;
}

.nav__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 65%;
  max-width: 400px;
  list-style: none;
  overflow: auto;
  padding: 62px 0;
}

.nav__item {
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  color: var(--medium-gray);
  cursor: pointer;
  padding: 1rem 0;
}

.nav__item:has(.nav__parent) {
  padding: 0;
}

.nav__parent {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1rem;
  padding: 1rem 0;
}

.nav__inner {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  overflow: hidden;
  height: 0;
  transition: height .4s;
}

.nav__link {
  text-decoration: none;
  color: var(--medium-gray);
}

.nav__illustration {
  margin-right: 1rem;
}

.nav__login {
  width: 90%;
  font-size: .8rem;
  margin: 0 auto;
  text-align: center;
}

.nav__sign {
  display: inline-block;
  color: var(--medium-gray);
  padding: .7rem 0;
  text-decoration: none;
}

.nav__login--border {
  border: .1rem solid var(--medium-gray);
  border-radius: .7rem;
}

/* Section Main */

.main__grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas: 
  "img img img"
  ".  text  .";
}

.main__article {
  padding: 56px 0;
  text-align: center;
  grid-area: text;
}

.main__title {
  font-size: 2.1rem;
  color: var(--almost-black);
}

.main__paragraph {
  font-size: 1rem;
  color: var(--medium-gray);
  line-height: 1.5;
  margin: 1rem 0;
}

.main__cta {
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: 1rem;
  display: inline-block;
  padding: .8rem 1.4rem;
  border-radius: .8rem;
  text-decoration: none;
  font-weight: 700;
}

.main__picture {
  grid-area: img;
  max-width: 40rem;
  margin: 0 auto;
}

.main__img {
  width: 100%;
}

.main__brands {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: minmax(2.2rem, 10rem);
  margin-top: 2.2rem; 
  justify-content: space-between; 
}

.main__brand {
  width: 100%;
}

@media screen and (min-width: 768px){

  .container {
    overflow: unset;
    max-width: unset;
  }
  
  .nav {
    gap: 2rem;
    overflow: visible; 
    padding: 2rem 0 0;
  }

  .nav__hamburguer {
    display: none;
  }

  .nav__overlay {
    position: unset;
    background-color: transparent;
    opacity: 1;
    pointer-events: unset;
    flex: 1;
  }

  .nav__menu {
    position: unset; 
    width: 100%;
    max-width: unset;
    padding: 0;
    background-color: unset;
    overflow: unset;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .nav__item {
    width: max-content;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .nav__item .nav__arrow--up {
    transform: rotate(180deg);
  }

  .nav__inner {
    position: absolute ;
    left: 0;
    padding: 2rem;
    height: auto;
    width: max-content;
    background-color: #fff;
    z-index: 100;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0, .7);
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none;
  }

  .nav__inner--show {
    opacity: 1;
    pointer-events: unset;
  }

  .nav__login {
    width: max-content;
    margin: 0;
    margin-left: auto;
  }

  .nav__login--border {
    margin: 0;
    padding: 0 1.5rem ;
  }

  .main__grid {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "text img";
    padding: 3.5rem 0;
  }

  .main__cta:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: .1rem solid var(--almost-black);
  }

  .main__picture {
    max-height: 29rem;
  }

  .main__img {
    height: 100%;
  }

  .main__article {
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .main__brands {
    margin: auto 0 0 0;
  }

  .main__texts {
    margin: auto 0;
  }

  .main__title {
    font-size: 3.5rem;
  }

  .main__paragraph {
    margin: 2rem 0;
  }

}
